/******************************
** Secret Agent Inc. Website **
******************************/

/** Global Styles **/

html {
  font-family: Helvetica;
  font-size: 18px;
}

/** Header **/

header {
  background-color: black;
}

#logo-area-wrap {
  width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

header img {
  height: 1.5rem;
  margin: 0 1rem 0 0.5rem;
}

header p {
  margin: 0.66rem 0;
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
}

/** Hero Banner **/

#test {
  height: 60px;
  background-image: url("../images/moto.jpg");
}

#hero-banner {
  height: 25rem;
  width: 100%;
  background-image: url("../images/moto.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/** Navigation **/


/** Main Content Area **/


/* Product Grid */


/* Supporting Information */


/* Footer */

