/***************************
* Secret Agent Supply Inc. *
***************************/

/** Global Styles **/

/* White is the global text color. */

html {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

h1 {
  font-size: 2rem;
}

/* The site-content-wrap class applies a consistent central column
width throughout the various sections of the page. */

.site-content-wrap {
  width: 960px;
  margin: 0 auto;
}

/** Header **/

header {
  background-color: black;
}

#logo-area-wrap {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

header img {
  height: 1.5rem;
  margin: 0 1rem 0 0.5rem;
}

header p {
  margin: 0.66rem 0;
  font-size: 1rem;
  text-transform: uppercase;
}

/** Hero Banner **/

#hero-banner {
  height: 25rem;
  width: 100%;
  background-image: url("../images/moto.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  }

#announcement-wrap {
  padding-top: 9em;
}

#announcement {
  width: 20rem;
  padding: 2rem 0 1.9rem 3rem;
  background-color: black;
}

#announcement p, #announcement h1 {
  margin-bottom: 0.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

/** Navigation **/


/** Main Content Area **/


/* Product Grid */


/* Supporting Information */


/* Footer */

